<%= bootstrap_form_with(model: logbook_entry, local: true, class: "needs-validation", novalidate: true) do |form| %>
  <% if logbook_entry.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(logbook_entry.errors.count, "error") %> prohibited this logbook entry from being saved:</h4>
      <ul>
        <% logbook_entry.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.datetime_field :date, label: "Date", required: true %>

  <%= form.text_field :departure_icao, label: "Departure ICAO", required: true %>

  <%= form.text_field :arrival_icao, label: "Arrival ICAO", required: true %>

  <%= form.number_field :duration, label: "Duration", required: true %>

  <%= form.select :aircraft_id, Aircraft.all.pluck(:model, :id), label: "Aircraft", class: "form-select", required: true %>

  <%= form.select :pilot_in_command_id, User.all.pluck(:first_name, :id), label: "Pilot in Command", class: "form-select", required: true %>

  <%= form.select :second_in_command_id, User.all.pluck(:first_name, :id), {include_blank: true}, label: "Second in Command", class: "form-select" %>

  <%= form.text_field :flt_training, label: "Flight Training" %>

  <%= form.text_field :ground_training, label: "Ground Training" %>

  <%= form.text_field :simulator, label: "Simulator" %>

  <%= form.text_field :cross_country, label: "Cross Country" %>

  <%= form.select :time_of_day, [['Day', 'day'], ['Night', 'night']], label: "Time of Day", class: "form-select", required: true %>

  <%= form.text_field :actual_instrument, label: "Actual Instrument" %>

  <%= form.text_field :simulated_instrument, label: "Simulated Instrument" %>

  <%= form.number_field :day_landing, label: "Day Landing" %>

  <%= form.number_field :night_landing, label: "Night Landing" %>

  <%= form.number_field :single_engine_land, label: "Single Engine Land" %>

  <%= form.number_field :multi_engine_land, label: "Multi Engine Land" %>

  <%= form.text_area :notes, label: "Notes" %>

  <div class="d-flex justify-content-end mb-3">
    <%= link_to "Back to Logbook Entries", logbook_entries_path, class: "btn btn-secondary me-3" %>
    <%= form.primary "Save Logbook Entry", class: "btn btn-primary" %>
  </div>
<% end %>
