<%= form_with(model: aircraft, local: true, class: "needs-validation", novalidate: true) do |form| %>
  <% if aircraft.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(aircraft.errors.count, "error") %> prohibited this aircraft from being saved:</h4>
      <ul>
        <% aircraft.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :make, class: "form-label" %>
    <%= form.text_field :make, class: "form-control", required: true %>
    <div class="invalid-feedback">
      Please provide the make of the aircraft.
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :model, class: "form-label" %>
    <%= form.text_field :model, class: "form-control", required: true %>
    <div class="invalid-feedback">
      Please provide the model of the aircraft.
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :engine, class: "form-label" %>
    <%= form.select :engine, [['Single', 'single'], ['Multi', 'multi']], {}, { class: "form-select", required: true } %>
    <div class="invalid-feedback">
      Please select an engine type.
    </div>
  </div>

  <div class="d-flex justify-content-end mb-3">
  <%= link_to "Back to Aircrafts", aircrafts_path, class: "btn btn-secondary me-3" %>
    <%= form.submit "Save Aircraft", class: "btn btn-primary" %>
  </div>
<% end %>
