<%= bootstrap_form_with(model: @user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h4>
      <ul>
        <% user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :first_name, label: "First Name", required: true %>

  <%= form.text_field :last_name, label: "Last Name", required: true %>

  <%= form.text_field :email, label: "Email", required: true %>

  <%= form.text_field :title, label: "Title" %>

  <%= form.text_field :company, label: "Company" %>

  <%= form.check_box :admin, label: "Admin" %>

  <div class="d-flex justify-content-end mb-3">
    <%= link_to "Back to Users", users_path, class: "btn btn-secondary me-3" %>
    <%= form.submit "Save User", class: "btn btn-primary" %>
  </div>
<% end %>
