<div class="centered-form">
  <h2>Change your password</h2>

  <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, novalidate: true }) do |f| %>
    <% if resource.errors.any? %>
      <div class="alert alert-danger">
        <h4 class="alert-heading"><%= pluralize(resource.errors.count, "error") %> prohibited this user from being saved:</h4>
        <ul>
          <% resource.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field :reset_password_token %>

    <div class="mb-3">
      <%= f.password_field :password, label: "New password", autofocus: true, autocomplete: "new-password", required: true %>
      <% if @minimum_password_length %>
        <small class="form-text text-muted"><%= @minimum_password_length %> characters minimum</small>
      <% end %>      
    </div>

    <div class="mb-3">
      <%= f.password_field :password_confirmation, label: "Confirm new password", autocomplete: "new-password", required: true %>      
    </div>

    <div class="d-flex justify-content-end mb-3">
      <%= f.submit "Change my password", class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="form-links">
    <%= link_to "Log in", new_user_session_path, class: "btn btn-link" %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-link" %>
  </div>
</div>
